header {
  background-image: url(../images/carServise.gif),
    url(../images/paperbackground.jpeg);
  height: 225px;
  width: 100%;
  opacity: 1;
  background-position: right bottom, right top;
  background-repeat: no-repeat, repeat;
  animation: backSize 2s;
  border-radius: 0 0 0 50%;
  background-size: 23% 70%, auto;
}

button {
  height: 30px;
  width: 80px;
  border-radius: 25px;
  background-color: #755ae5;
  color: white;
}

.TopRight {
  position: fixed;
  top: 10px;
  right: 10px;
}
div.box {
  display: flex;
  margin: auto;
  flex-direction: row;
  animation: Car 2s;
}

.items {
  margin: 0 2px;
}

@keyframes Car {
  from {
    background-position: top left;
  }
  to {
    background-position: bottom right;
    transform: rotate(720deg);
  }
}

@keyframes backSize {
  from {
    border-radius: 0 0 0 0;
  }
  to {
    border-radius: 0 0 0 50%;
  }
}
.logo{

  height: 100px;
  padding: 10px;
}
